AWS_ACCESS_KEY_ID=Amazon AWS Access Key
AWS_SECRET_ACCESS_KEY=Amazon AWS Secret Key
AWS_REGION=Amazon AWS Region

SENDGRID_API_KEY=Sendgrid Api Key
SUPPORT_EMAIL=info@example.com
FROM_EMAIL=Attendance System <info@example.com>
RESET_PASSWORD_TEMPLATEID=Sendgrid Dynamic Template Id for Reset Password
VERIFY_EMAIL_TEMPLATEID=Sendgrid Dynamic Email Template Id for Email Verification

JWT=Jwt

MONGOURI=MongoDB URL

NODE_OPTIONS=--max_old_space_size=2560
PORT=3000


